#question1{
	color: white;
	font-family: "BEBAS NEUE";
	font-size: 30px;
}

.answer{
	color: white;
	font-family: "BEBAS NEUE";
	font-size: 30px;
}


#name{
	color: white;
	font-family: "BEBAS NEUE";
	font-size: 30px;
}
body {
	background-color: #0e0e15;
}
.header{
position: relative;
width: 953px;
margin-left: auto;
margin-right: auto;
}
.hal{
margin-right: auto;
margin-left: auto;
float: left;
position: absolute;
left: -100px;
top: -100px;
}

.board {
border-collapse: collapse;
width: 600px;
height: 600px;
margin-right: auto;
margin-left: auto;
margin-top: 20px;
position: absolute;
left: 200px;
top: 275px;
bottom: 50px;
margin-bottom: 50px;
}

td{
	border: 2px solid white;
	width: 200px;
	height: 200px;
	color: white;
	font-family: bebas neue;
font-size: 100px;
text-align: center;
}

h1{
font-family: "BEBAS NEUE";
text-align: center;
font-size: 60px;
color: white;
position: absolute;
top: 84px;
left: 300px;
}

h2{
font-family: "BEBAS NEUE";
text-align: center;
font-size: 25px;
color: white;
position: absolute;
top: 165px;
left: 306px;
}



p {
	font-size: 30px;
	font-family: "basic title font";
	text-align: center;
	color: white;
}

td:hover{
	background-color: rgba(215, 40, 40, 0.2);
}
